/* Global styles */

/*
1. set global-level font color for easy change
2. set global-level foreground color
3. set global-level background color
4. draw little photo portrains
5. pic photos
*/

:root {
  /* Global style variables */
  --body-text-color: #FFFFFF;
  --central-body-bg-color: #0B2B26;
  --body-bg-color: #0B2B26;
  --tab-hover-color: #317B22;
  --error-text-color: #EE6123;
  --text-font: 'Helvetica', sans-serif;
  --text-font-size: 1.2rem;
}

/* Apply the variables */
body {
  font-family: var(--text-font);
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
  margin-top: 100px;
  margin: 0;
  padding: 0;
  font-size: var(--text-font-size);
  min-height: 100vh; /* Ensure the body is at least the height of the window */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto; /* Scroll if content exceeds height */
}

/* Background portraits (left and right) */
.portrait {
  position: absolute;
  top: calc(10% + (80% * var(--random)));
  width: 100px;
  height: 100px;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}

.portrait.left {
  left: 0;
}

.portrait.right {
  right: 0;
}

p {
  word-wrap: break-word; /* Allows long words to break onto the next line */
  overflow-wrap: break-word; /* Ensures that long words are wrapped */
  margin: 10px 0; /* Add some margin for spacing */
}

/* Title styling */
h1 {
  text-align: center;
  font-family: 'Garamond', serif; /* Use Garamond for title */
  font-size: 3rem;
  color: var(--body-text-color);
  /* margin: 30px 0; */
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  margin: 2rem;
  width: 100%;
  height: 100%
}

.central-body {
  background-color: var(--central-body-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 70%;
  max-width: 70%;
  min-height: 100vh; /* Ensure the body is at least the height of the window */
}

/* Tabs styling */
.tabs {
  display: flex;
  justify-content:center;
  width: 100%;
  margin-bottom: 20px;
}

.tablink {
  font-family: 'Franklin Gothic', sans-serif;
  background: none;
  border: none;
  color: var(--body-text-color);
  font-size: 1.1rem;
  min-width: 15%;
  margin: 1rem;
  cursor: pointer;
  transition: color 0.7s ease;
  outline:#f5f5f5;
  appearance: none;
  padding: 8px 18px; /* Slightly smaller padding */
  border: 2px solid transparent;
  transition: border 0.7s ease, background-color 0.7s ease, font-style 0.7s ease;

}

.tablink:hover {
  border: 2px solid var(--tab-hover-color);
  padding: 8px 18px; /* Same padding to avoid button size jump */
}

.tablink:focus {
  outline: none;
}

.tablink:after {
  content: '';
  /* width: 0;
  height: 2px; */
  background: #006400; /* Dark emerald green */
  transition: width 0.4s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tablink:hover:after {
  width: 100%;
}

/* Tab content styling */
.tabcontent {
  display: none; /* Hidden by default */
  padding: 20px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ensure content is centered horizontally */
  align-items: center; /* Center vertically */
  box-sizing: border-box;
}

/* Active tab content styling
.tabcontent.active {
  display: flex; /* Flex display for centered content */
/* }

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}

label {
  font-size: 1.5rem; /* Larger font size */
  text-align: start; /* Center the text */
  margin-bottom: 20px; /* Space below the text */
  font-weight: bold; /* Optional: Make the text bold */
  margin-bottom: 10px;
  color: var(--body-text-color);
}

/* Yes/No button styling */
.option-button {
  color: #2c3e50;
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1rem;
  border: 2px solid transparent; /* Transparent border initially */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s ease, border 0.7s ease;
  margin-bottom: 20px;
  font-size: var(--text-font-size);
}

.clear-button {
  color: #2c3e50;
  background-color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s ease;
  margin-bottom: 3rem;
}

.option-button:focus {
  outline: none;
}

.option-button:hover {
  border: 2px solid var(--body-bg-color);
}

.option-button.selected-yes {
  background-color: #27ae60; /* Green for Yes */
  color: white;
}

.option-button.selected-no {
  background-color: #f1c40f; /* Yellow for No */
  color: white;
}

/* Signature pad styling */
#signature-box {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

canvas {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Submit button */
button {
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.7s ease;
}

#submit-btn {
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #2c3e50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  transition: background-color 0.7s ease;
  width: 100%;
}

#submit-button.selected-yes {
  background-color: #27ae60; /* Green for Yes */
  color: white;
}


#submit-btn:hover {
  color: var(--central-body-bg-color);
  background-color: var(--tab-hover-color);
  transition: background-color 0.7s ease;

}

/* Submit confirmation message */
#confirmation-message {
  font-size: var(--text-font-size);
  color: var(--body-text-color);
  margin-top: 20px;
}

#engage-message {
  font-size: var(--text-font-size);
  color: var(--body-text-color);
  margin-top: 20px;
}

/* Input text box styling */
input[type="text"] {
  width: 75%; /* Full width */
  padding: 12px 15px; /*Padding for comfort*/
  margin-bottom: 30px; /* Space between inputs */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  background-color: #f5f5f5; /* Light background */
  color: var(--body-bg-color); /* Text color */
  font-size: 1rem; /* Font size */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.7s ease; /* Smooth transition for focus state */
}

/* Focus state for input */
input[type="text"]:focus {
  outline: none; /* Remove default outline */
  background-color: #fff; /* White background on focus */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow on focus */
}

/* Placeholder styling */
input::placeholder {
  color: #aaa; /* Lighter color for placeholder text */
  font-style: italic; /* Italic for better visibility */
}

/* Error message styling */
.error-message {
  color: var(--error-text-color); /* Red color for error messages */
  font-size: 1rem; /* Smaller font size */
  display: none; /* Initially hidden */
  margin-bottom: 15px;
}

#signature-pad {
  width: 100%; /* Set canvas width to 70% of its container */
  height: auto; /* Automatically adjust the height based on width */
  max-width: 600px; /* Optional: maximum width for larger screens */
  min-width: 200px; /* Optional: minimum width to avoid being too small */
  background-color: #f5f5f5;
  border: 2px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 5px; /* Rounded corners for a smooth look */
}

/* Centered and larger font for the introduction */
.faq-intro {
  font-size: 1.5rem; /* Larger font size */
  text-align: start; /* Center the text */
  margin-bottom: 20px; /* Space below the text */
  font-weight: bold; /* Optional: Make the text bold */
}

.faq-invite {
  text-align: start;
  margin-bottom: 20px;
  font-size: var(--text-font-size);
  width: 100%;
}

.faq-consent {
  text-align: start;
  margin-bottom: 20px;
  font-size: var(--text-font-size);
  width: 100%;
}

/* Centered invitation text */
.faq-buttons {
  width: 100%;
  margin-bottom: 3rem;
}

/* List without bullets */
.faq-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  text-align: start; /* Center the list items */
  font-size: var(--text-font-size);
}

.faq-list li {
  margin-bottom: 15px; /* Add spacing between list items */
  font-size: var(--text-font-size); /* Slightly larger font */
}

/* Full-screen overlay */
/* Full-screen overlay for spinner */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Above other content */
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Prevents interaction when hidden */
  transition: opacity 0.3s, visibility 0.3s; /* Smooth transition */
}

.spinner-overlay.show {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Allow interaction */
}

/* Spinner styling */
.spinner {
  border: 16px solid var(--central-body-bg-color); 
  border-top: 16px solid var(--body-bg-color); 
  border-radius: 50%;
  width: 100px; /* Large size */
  height: 100px; /* Large size */
  animation: spin 1s linear infinite; /* Spin animation */
}

.credit {
  display: flex;
  height: 100%;
  margin-bottom: 20px;
}
.credit-text {
  display: inline-block;
  align-self: flex-end;
  font-size: small;
  font-style: italic;
}

.need-heading{
  margin-top: 50px;
  margin-left: 50px;
}

img {
  max-width:90%;
  height:auto;
  padding-top: 10dp;
} 

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@font-face {
  font-family: 'Garamond';
  src: url('garamond.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url('FRABK.ttf') format('truetype'); 
}

/* Responsive design */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .tablink {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
}

